@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
    --destaque: #BE3139;
    --background-white: #fff;
    --background-red-soft: #FFE8EA;
    --input: #F5F5F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    background: var(--background-white);
    font-family: "Inter", sans-serif;
}

/* MENU*/
header {
    position: fixed;
    width: 100%;
    background: var(--destaque);
}

nav {
    display: flex;
    height: 12vh;
}

nav > .logo, nav > .logo:link, nav > .logo:visited {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin-top: 12px;
    margin-left: 40px;
}

.nav-menu {
    margin-left: 350px;
    margin-top: 20px;
}

.nav-menu > ul {
    display: flex;
    gap: 40px;
}

.nav-menu > ul > li > a {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 0 5px;
}

.nav-menu > ul > li > a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--background-white);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
    border-radius: 5PX;
}

.nav-menu > ul > li > a:hover::after{
    width: 100%;
}


/* HOME */
.container-home {
    background: var(--background-red-soft);
    height: 82vh;
}

.home-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container-home > .home-box > .box-left {
    width: 560px;
    padding: 150px 0 0 150px;
}

.container-home > .home-box > .box-left h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    color: var(--destaque);
    text-align: center;
}

.container-home > .home-box > .box-left > p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.container-stores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.container-stores > img {
    width: 130px;
    align-items: center;
    justify-content: center;
}

.container-home > .home-box > .img-right {
    padding: 125px 0 0 90px;
}

.img-right > img {
    width: 320px;
}

/* OBJECTIVES */
#objectives {
    height: 80vh;
}

.title-section {
    padding:20px;
}

.title-section > h3 {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.title-section > h2 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.container-objectives {
    display: flex;
    justify-content: center;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.box-objective {
    width: 400px;
    padding: 0 0 30px 0;
}

.box-space {
    margin-left: 80px;
}

.box-objective > h2 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--destaque);
    text-align: center;
}

.box-objective > p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/* PLANS */
#plans {
    background: var(--background-red-soft);
    height: 100vh;
}

.container-img-price {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.img-plans > img {
    margin-top: -50px;
    width: 300px;
    margin-left: -80px;
}

.container-plans {
    display: flex;
    align-items: center;
    gap: 100px;
}

.plan-premium {
    width: 280px;
}

.plan-free {
    width: 240px;
}

.plans {
    background: var(--background-white);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #b7b7b7;
}

.plans > h2 {
    font-family: "Poppins", sans-serif;
    color: var(--destaque);
    text-align: center;
    padding: 15px 0 8px;
}

.plans > hr {
    border-color: var(--destaque);
    border-style: solid;
    border-radius: 1px;
    border-width: 1px 0 0 0;
    width: 80%;
    margin: 0 auto;
}

.plans-price {
    display: flex;
    margin-top: 4px;
    justify-content: center;
    width: 100%;
}

.plans-price > .text-big {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.plans-price > .text-small {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-top: 20px;
}

.plans-price > .text-red {
    color: var(--destaque);
}

.plans-benefits > .container-benefits {
    display: flex;
    gap: 6px;
    margin-left: 22px;
}

.plans-benefits > .container-benefits > .container-list > p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
}

.plans-benefits > .container-benefits > .container-draws > span {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}

.container-plans {
    display: flex;
    justify-content: center;
}

.plans-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.plans-button button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #BE3139;
    border: none;
    border-radius: 5px;
    margin-top: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.plans-button button:hover {
    background-color: #ae0009;
}

.plans-button button:active {
    background-color: #640d13; 
    transform: scale(0.95); 
}

/* ABOUT */
#about {
    height: 80vh;
}

#about > .container-about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 60px;
}

#about > .container-about > .box-left {
    width: 450px;
}

#about > .container-about > .box-left > h2 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 6px;
    color: var(--destaque);
}

#about > .container-about > .box-left > p {
    font-size: 16px;
    font-weight: 500;
}

#about > .container-about > .box-left > button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #BE3139;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#about > .container-about > .box-left > button:hover {
    background-color: #ae0009;
}

#about > .container-about > .box-left > button:active {
    background-color: #640d13; 
    transform: scale(0.95); 
}

#about > .container-about > .img-right > img {
    width: 300px;
}

/* CONTACT */
#contact {
    background: var(--background-red-soft);
    height: 90vh;
}

.container-form {
    background: var(--background-white);
    width: 570px;
}

.container-form > form > .label {
    font-size: 40px;
}


/* FOOTER */
footer {
    background: var(--destaque);
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    font-size: 12px;
    font-weight: 400;
    color: white;
    text-align: center;
}
